<%= form_for(@delegate) do |f| %>
  <% if @delegate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delegate.errors.count, "error") %> prohibited this delegate from being saved:</h2>

      <ul>
      <% @delegate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
