<%= form_for(@wireless) do |f| %>
  <% if @wireless.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wireless.errors.count, "error") %> prohibited this wireless from being saved:</h2>

      <ul>
      <% @wireless.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
