<%= form_for(@vlan) do |f| %>
  <% if @vlan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vlan.errors.count, "error") %> prohibited this vlan from being saved:</h2>

      <ul>
      <% @vlan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
