<h1>Listing techcoords</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @techcoords.each do |techcoord| %>
    <tr>
      <td><%= link_to 'Show', techcoord %></td>
      <td><%= link_to 'Edit', edit_techcoord_path(techcoord) %></td>
      <td><%= link_to 'Destroy', techcoord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Techcoord', new_techcoord_path %>
