<h1>Listing d3s</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @d3s.each do |d3| %>
      <tr>
        <td><%= link_to 'Show', d3 %></td>
        <td><%= link_to 'Edit', edit_d3_path(d3) %></td>
        <td><%= link_to 'Destroy', d3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D3', new_d3_path %>
