<li class="span4">
  <h3>
    <%= image_tag "noun_63767_cc.svg", :width => 38 %><%= link_to 'Switch Status Dashboard', devices_dashboard_path %>
  </h3>
  <p>
    Network switch status dashboard
  </p>
</li>
