<li class="span4">
  <h3>
    <%= image_tag "noun_63767_cc.svg", :width => 38 %><%= link_to 'Switch Loss Dashboard', performance_devices_loss_path %>
  </h3>
  <p>
    Network switch status timeline
  </p>
</li>
