<li class="span4">
  <h3>
    <%= image_tag "iconmonstr-flickr-3-icon.svg", :width => 32 %><%= link_to 'Switch Status Dashboard', devices_dashboard_path %>
  </h3>
  <p>
    Network switch status dashboard
  </p>
</li>
