<li class="span4">
  <h3>
    <%= image_tag "cpu4.svg", :width => 32 %> <%= link_to  'Network Devices', devices_path %>
  </h3>
  <p>
    Show a complete list of network routers, switches and access points
  </p>
</li>