<li class="span4">
  <h3>
    <%= image_tag "noun_28306_cc.svg", :width=>32 %> Ports Graphs on Switch
  </h3>
  <p>
    Display traffic graphs of all network ports on a specific network device
    <form class="form-search span12" method="get" action="<%= port_graphs_by_device_path %>">
      <div class="input-append">
        <input id="device_list_autocomplete" class="ajax-typeahead span9 input-medium search-query" name="device" placeholder="switch name..." type="text" autocomplete="off">
        <button class="btn add-on">
          <i class="icon-search"></i>
        </button>
      </div>
    </form>
  </p>
</li>


<script>
  $('#device_list_autocomplete').typeahead({
    source: function( q, process ){
      $.get( "<%= autocomplete_device_list_path %>", { query: q }, function(d){
        return process( d )
      })
    }
  });
</script>
