<li class="span4">
  <h3>
    <%= image_tag "noun_31902_cc.svg", :width => 32 %><%= link_to 'Port Uplink Graphs', port_graphs_by_uplinks_path %>
  </h3>
  <p>
    Show port utilisation graphs for all uplinks
  </p>
</li>
