<li class="span4">
  <h3>
    <%= image_tag "iconmonstr-network-2-icon.svg", :width => 28 %><%= link_to 'Topology', weathermaps_path %>
  </h3>
  <p>
    Discover network topologies and current network state
  </p>
</li>