<li class="span4">
  <h3>
    <%= image_tag "cloud316.svg", :width => 32 %>
    
    <%= link_to 'HPC Farm Weathermap', weathermap_for_path( 'farm' ) %>
  </h3>
  <p>
    HPC Farm Network Weathermap
  </p>
</li>
