<li class="span4">
  <h3>
    <%= image_tag "cloud316.svg", :width => 32 %>
    
    <%= link_to 'DataCenter Weathermap', weathermap_for_path( 'datacenter' ) %>
  </h3>
  <p>
    Network Core Weathermap
  </p>
</li>
