<div class="row row-fluid">
  <div class="row span12">
    <h1>Topology</h1>
  </div>

  <div class="row-fluid">
    <div class="span6 pull-left input-prepend">
      <form class="form-inline" id="find" autocomplete="off">
        <select id="type" class="span2">
          <option url="devices.json">device</option>
          <option url="hosts.json">hostname</option>
          <option url="hosts.json">mac_address</option>
          <option url="hosts.json">ip_address</option>
          <option url="vlans.json">vlan</option>
          <option url="vlans.json">vlan_name</option>
        </select>
        <input id="autocomplete" class="span8 input-wrapper" type="text" autocomplete="off"></input>
      </form>
    </div>
    <div class="span6 pull-right">
      <div class="input-append">
        <input id="link_distance" type="text" value="120" class="input-small span2"></input>
        <button class="btn" id="clear_button">Clear</button>
        <button class="btn" id="repulsion">Repulse</button>
        <button class="btn" id="update">Update</button>
      </div>
    </div>
  </div>

  <div class="row-fluid span12">
      <div class="TOPOLOGY" id="d3_viz"></div>
  </div>
</div>

<%= coffee_script_tag do %>
_repulse = true

fill_window "#d3_viz"
TOPOLOGY = new TopologyPane( "#d3_viz" )

# autocomplete
$('#autocomplete').typeahead(
  source: (q,process) ->
    $.get( '/api/' + pluralise( $('#type').val() ) + '/list', { query: q }, (d) ->
      process( d )
    )
)

$('#find').submit () ->
  console.log "-> %o", $('type')
  uri = '/topologies/' + $('#type').find(':selected').attr('url') + '?' + $('#type').val() + '=' + encodeURIComponent($('.input-wrapper').val())

  console.log uri
  TOPOLOGY.fetch( uri )
  return false


$('#link_distance').bind( "propertychange keyup input paste", (ev) ->
  TOPOLOGY.link_distance( $(this).val() )
)

$('#clear_button').on( "click", () ->
  console.log('clearing all')
  n = TOPOLOGY.num_nodes()
  t = n/10000
  i = 0
  while i < n
    setTimeout( () ->
        TOPOLOGY.delete_node TOPOLOGY.NODES[0]
    , t*i
    )
    i++
)

$('#repulsion').on("click", () ->
  if this.value == 'repulse'
    this.value = 'static'
    TOPOLOGY.stop()
    _repulse = false
  else
    this.value = 'repulse'
    TOPOLOGY.start
    _repulse = true
)

# update the link stats
$('#update').on("click", () ->
  i = 0
  while i<LINKS.length
    TOPOLOGY.get_link( LINKS[i])
    i++
)

<% end %>
