<div class="row row-fluid">
  <div class="row span12" style="vertical-align: middle">
    <div class="span2">
      <h1>Topology</h1>
    </div>
    <div class="input-prepend center">
      <form class="form-inline" id="find" autocomplete="off">
        <div id="type" class="btn-group">
          <a id="search_type" class="btn"><span id="dropdown-text">device</span></button>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data="devices.json" placeholder="switch or router name">device</a></li>
            <li class="divider"></li>
            <li><a data="hosts.json" placeholder="hostname of computer">hostname</a></li>
            <li><a data="hosts.json" placeholder="mac address of host">mac_address</a></li>
            <li><a data="hosts.json" placeholder="ip address of host">ip_address</a></li>
            <li class="divider"></li>
            <li><a data="subnets.json" placeholder="subnet cidr">cidr</a></li>
            <li><a data="subnets.json" placeholder="subnet name">subnet</a></li>
            <li class="divider"></li>
            <li><a data="vlans.json" placeholder="vlan number">vlan</a></li>
            <li><a data="vlans.json" placeholder="vlan/subnet name">vlan_name</a></li>
          </ul>
        </div>
        <input type="text" id="autocomplete" class="input-wrapper" autocomplete="off"></input>
      </form>
    </div>
    <div class="input-append pull-right">
      <input id="link_distance" type="text" value="120" class="input-small span2"></input>
      <button class="btn" id="clear_button">Clear</button>
      <button class="btn" id="repulsion">Repulse</button>
      <button class="btn" id="update">Update</button>
    </div>
  </div>

  <div class="row-fluid span12">
      <div class="TOPOLOGY" id="d3_viz"></div>
  </div>
</div>

<%= coffee_script_tag do %>
_repulse = true

fill_window "#d3_viz"
TOPOLOGY = new TopologyPane( "#d3_viz" )
TYPE = null
LINK = null

$('form#find > div#type > ul.dropdown-menu > li > a').on 'click', (e)->
  TYPE = this.text
  LINK = $(this).attr("data")
  # update the dropbox box value
  $("#search_type > span#dropdown-text").text( TYPE )
  # clear text
  $('input#autocomplete').text('blah').attr('placeholder', $(this).attr("placeholder") )


# initiate first item
$('form#find > div#type > ul.dropdown-menu > li > a').first().trigger('click')

# autocomplete
$('#autocomplete').typeahead(
  source: (q,process) ->
    $.get( '/api/' + pluralise( TYPE ) + '/list', { query: q }, (d) ->
      process( d )
    )
)

$('#find').submit () ->
  uri = '/topologies/' + LINK + '?' + TYPE + '=' + encodeURIComponent($('.input-wrapper').val())
  console.log uri
  TOPOLOGY.fetch( uri )
  return false

$('#link_distance').bind( "propertychange keyup input paste", (ev) ->
  TOPOLOGY.link_distance( $(this).val() )
)

$('#clear_button').on( "click", () ->
  console.log('clearing all')
  n = TOPOLOGY.num_nodes()
  t = n/10000
  i = 0
  while i < n
    setTimeout( () ->
        TOPOLOGY.delete_node TOPOLOGY.NODES[0]
    , t*i
    )
    i++
)

$('#repulsion').on("click", () ->
  if this.value == 'repulse'
    this.value = 'static'
    TOPOLOGY.stop()
    _repulse = false
  else
    this.value = 'repulse'
    TOPOLOGY.start
    _repulse = true
)

# update the link stats
$('#update').on("click", () ->
  i = 0
  while i<LINKS.length
    TOPOLOGY.get_link( LINKS[i])
    i++
)

<% end %>
