<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1400"
   height="600"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="datacenter.svg">
  <defs
     id="defs4">
    <marker
       inkscape:stockid="TriangleInS"
       orient="auto"
       refY="0.0"
       refX="0.0"
       id="TriangleInS"
       style="overflow:visible">
      <path
         id="arrow"
         d="M 5.77,0.0 L -2.88,5.0 L -2.88,-5.0 L 5.77,0.0 z "
         style="fill:grey;stroke:grey;stroke-width:0pt;marker-start:none"
         transform="scale(-0.15)" />
    </marker>
    <marker
       inkscape:stockid="TriangleInS"
       orient="auto"
       refY="0"
       refX="0"
       id="TriangleInS-0"
       style="overflow:visible">
      <path
         inkscape:connector-curvature="0"
         id="arrow-8"
         d="m 5.77,0 -8.65,5 0,-10 8.65,5 z"
         style="fill:#808080;stroke:#808080;stroke-width:0pt;marker-start:none"
         transform="scale(-0.15,-0.15)" />
    </marker>
    <marker
       inkscape:stockid="TriangleInS"
       orient="auto"
       refY="0"
       refX="0"
       id="TriangleInS-2"
       style="overflow:visible">
      <path
         inkscape:connector-curvature="0"
         id="arrow-6"
         d="m 5.77,0 -8.65,5 0,-10 8.65,5 z"
         style="fill:#808080;stroke:#808080;stroke-width:0pt;marker-start:none"
         transform="scale(-0.15,-0.15)" />
    </marker>
    <marker
       inkscape:stockid="TriangleInS"
       orient="auto"
       refY="0"
       refX="0"
       id="marker4281"
       style="overflow:visible">
      <path
         inkscape:connector-curvature="0"
         id="path4283"
         d="m 5.77,0 -8.65,5 0,-10 8.65,5 z"
         style="fill:#808080;stroke:#808080;stroke-width:0pt;marker-start:none"
         transform="scale(-0.15,-0.15)" />
    </marker>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.5"
     inkscape:cx="178.75229"
     inkscape:cy="473.19275"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="true"
     showborder="true"
     borderlayer="false"
     objecttolerance="10000"
     guidetolerance="10000"
     inkscape:window-width="1815"
     inkscape:window-height="1335"
     inkscape:window-x="749"
     inkscape:window-y="67"
     inkscape:window-maximized="0"
     inkscape:snap-grids="true"
     showguides="false">
    <inkscape:grid
       type="xygrid"
       id="grid4300"
       empspacing="5"
       visible="true"
       enabled="true"
       snapvisiblegridlinesonly="true" />
  </sodipodi:namedview>
  <metadata
     id="metadata7">
    <rdf:rdf>
      <cc:work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:work>
    </rdf:rdf>
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,0)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="496.29865"
       y="-165.72891"
       id="text4162"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4164"
         x="496.29865"
         y="-165.72891" /></text>
    <rect
       ry="5"
       rx="5"
       y="234.68817"
       x="438.71634"
       height="40"
       width="100"
       id="node_rtr-serv02"
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none" />
    <text
       sodipodi:linespacing="125%"
       id="text4150"
       y="-165.72891"
       x="242.79865"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         y="-165.72891"
         x="242.79865"
         id="tspan4152"
         sodipodi:role="line" /></text>
    <rect
       ry="5"
       rx="5"
       y="45.254833"
       x="188.54971"
       height="40"
       width="100"
       id="node_rtr-core1"
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
       inkscape:transform-center-x="13.5"
       inkscape:transform-center-y="1" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:15px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="208.8716"
       y="71.094673"
       id="label_rtr-core1"
       sodipodi:linespacing="125%"
       inkscape:transform-center-x="22.305061"
       inkscape:transform-center-y="1.4785004"><tspan
         sodipodi:role="line"
         id="tspan4172"
         x="208.8716"
         y="71.094673">rtr-core1</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="241.13907"
       y="-137.39912"
       id="text4174"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4176"
         x="241.13907"
         y="-137.39912" /></text>
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-core2_out"
       d="m 361.03337,65.503107 c -75,0 -75,0 -75,0 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-core2_in"
       d="m 371.03337,65.503107 c 75,0 75,0 75,0 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <rect
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
       id="node_rtr-core2"
       width="100"
       height="40"
       x="442.04968"
       y="45.254833"
       rx="5"
       ry="5" />
    <text
       sodipodi:linespacing="125%"
       id="label_rtr-core2"
       y="71.094673"
       x="463.37158"
       style="font-style:normal;font-weight:normal;font-size:15px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"
       inkscape:label="#label_rtr-core2"><tspan
         y="71.094673"
         x="463.37158"
         id="tspan4188"
         sodipodi:role="line">rtr-core2</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text4190"
       y="-137.39912"
       x="494.63907"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         y="-137.39912"
         x="494.63907"
         id="tspan4192"
         sodipodi:role="line" /></text>
    <rect
       inkscape:transform-center-y="1"
       inkscape:transform-center-x="13.5"
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
       id="node_rtr-serv01-02"
       width="100"
       height="40"
       x="188.54971"
       y="233.35484"
       rx="5"
       ry="5" />
    <text
       inkscape:transform-center-y="1.4785004"
       inkscape:transform-center-x="22.305061"
       sodipodi:linespacing="125%"
       id="label_rtr-serv01-02"
       y="260.02802"
       x="195.24748"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.5px;line-height:125%;font-family:Sans;-inkscape-font-specification:'Sans, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         y="260.02802"
         x="195.24748"
         id="tspan4208"
         sodipodi:role="line">rtr-serv01-02</tspan></text>
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 361.03337,253.60311 c -75,0 -75,0 -75,0 l 0,0 0,0 0,0"
       id="rtr-serv01-02_rtr-serv02_out"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 371.03337,253.60311 c 75,0 75,0 75,0 l 0,0 0,0 0,0"
       id="rtr-serv01-02_rtr-serv02_in"
       inkscape:connector-curvature="0" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.5px;line-height:125%;font-family:Sans;-inkscape-font-specification:'Sans, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="458.68365"
       y="259.63083"
       id="label_rtr-serv02"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4218"
         x="458.68365"
         y="259.63083">rtr-serv02</tspan></text>
    <path
       style="fill:#8aa0b3;fill-opacity:0.12106066;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 235.03337,164.40311 c 0,75 0,75 0,75 l 0,0 0,0 0,0"
       id="rtr-core1_rtr-serv01-02_in"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#8aa0b3;fill-opacity:0.12106066;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 235.03337,154.40311 c 0,-75.000003 0,-75.000003 0,-75.000003 l 0,0 0,0 0,0"
       id="rtr-core1_rtr-serv01-02_out"
       inkscape:connector-curvature="0" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core2_rtr-serv02_in"
       d="m 489.83337,163.60311 c 0,75 0,75 0,75 l 0,0 0,0 0,0"
       style="fill:#8aa0b3;fill-opacity:0.12106066;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core2_rtr-serv02_out"
       d="m 489.83337,153.60311 c 0,-75.000003 0,-75.000003 0,-75.000003 l 0,0 0,0 0,0"
       style="fill:#8aa0b3;fill-opacity:0.12106066;stroke:#c2c2c2;stroke-width:10px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 358.53007,167.10641 c -79.54951,79.54951 -79.54951,79.54951 -79.54951,79.54951 l 0,0 0,0 0,0"
       id="rtr-core2_rtr-serv01-02_in"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS);opacity:1"
       d="m 371.93667,154.09981 c 79.54951,-79.549513 79.54951,-79.549513 79.54951,-79.549513 l 0,0 0,0 0,0"
       id="rtr-core2_rtr-serv01-02_out"
       inkscape:connector-curvature="0" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-serv02_out"
       d="M 357.40635,152.82353 C 277.85684,73.274017 277.85684,73.274017 277.85684,73.274017 l 0,0 0,0 0,0"
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-serv02_in"
       d="m 372.01295,168.23013 c 79.54951,79.54951 79.54951,79.54951 79.54951,79.54951 l 0,0 0,0 0,0"
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <rect
       ry="5"
       rx="5"
       y="132.02151"
       x="37.216381"
       height="40"
       width="100"
       id="node_rtr-serv01-01"
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
       inkscape:transform-center-x="13.5"
       inkscape:transform-center-y="1" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.5px;line-height:125%;font-family:Sans;-inkscape-font-specification:'Sans, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="43.91415"
       y="158.69469"
       id="label_rtr-serv01-01"
       sodipodi:linespacing="125%"
       inkscape:transform-center-x="22.305061"
       inkscape:transform-center-y="1.4785004"><tspan
         sodipodi:role="line"
         id="tspan4217"
         x="43.91415"
         y="158.69469">rtr-serv01-01</tspan></text>
    <rect
       inkscape:transform-center-y="1"
       inkscape:transform-center-x="13.5"
       style="fill:#4682b4;fill-opacity:0.5;fill-rule:nonzero;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
       id="node_rtr-serv03"
       width="100"
       height="40"
       x="591.21637"
       y="150.68819"
       rx="5"
       ry="5" />
    <text
       inkscape:transform-center-y="1.4785004"
       inkscape:transform-center-x="22.305061"
       sodipodi:linespacing="125%"
       id="label_rtr-serv03"
       y="177.36136"
       x="613.2475"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.5px;line-height:125%;font-family:Sans;-inkscape-font-specification:'Sans, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         y="177.36136"
         x="613.2475"
         id="tspan4223"
         sodipodi:role="line">rtr-serv03</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:15px;line-height:125%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="597.25726"
       y="240"
       id="text4225"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4227"
         x="597.25726"
         y="240"
         style="text-align:center;text-anchor:middle;-inkscape-font-specification:'Sans, Italic';font-family:Sans;font-weight:normal;font-style:italic;font-stretch:normal;font-variant:normal;font-size:12.5px;writing-mode:lr;line-height:125%">Layer 2</tspan><tspan
         sodipodi:role="line"
         x="597.25726"
         y="258.75"
         id="tspan4229"
         style="text-align:center;text-anchor:middle;-inkscape-font-specification:'Sans, Italic';font-family:Sans;font-weight:normal;font-style:italic;font-stretch:normal;font-variant:normal;font-size:12.5px;writing-mode:lr;line-height:125%">Link</tspan></text>
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)"
       d="m 569.99039,126.48229 c 26.90524,37.07316 26.90524,37.07316 26.90524,37.07316 l 0,0 0,0 0,0"
       id="rtr-core2_rtr-serv03_in"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)"
       d="M 561.14714,115.04662 C 534.24189,77.973456 534.24189,77.973456 534.24189,77.973456 l 0,0 0,0 0,0"
       id="rtr-core2_rtr-serv03_out"
       inkscape:connector-curvature="0" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-serv02_rtr-serv03_out"
       d="m 562.59748,221.68172 c -28.10751,36.17014 -28.10751,36.17014 -28.10751,36.17014 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-serv02_rtr-serv03_in"
       d="m 571.116,210.00214 c 28.10751,-36.17015 28.10751,-36.17015 28.10751,-36.17015 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-serv01-01_in"
       d="m 157.7792,112.79944 c -32.90338,31.86971 -32.90338,31.86971 -32.90338,31.86971 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core1_rtr-serv01-01_out"
       d="m 167.85185,102.43028 c 32.90338,-31.869726 32.90338,-31.869726 32.90338,-31.869726 l 0,0 0,0 0,0"
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)" />
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)"
       d="m 167.18636,213.70149 c 27.74813,36.44657 27.74813,36.44657 27.74813,36.44657 l 0,0 0,0 0,0"
       id="rtr-serv01-01_rtr-serv01-02_in"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#c2c2c2;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS-2)"
       d="m 158.08325,202.47156 c -27.74813,-36.44658 -27.74813,-36.44658 -27.74813,-36.44658 l 0,0 0,0 0,0"
       id="rtr-serv01-01_rtr-serv01-02_out"
       inkscape:connector-curvature="0" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core2_rtr-serv01-01_in"
       d="m 284.01666,116.26363 c -150.83104,39.05059 -150.83104,39.05059 -150.83104,39.05059 l 0,0 0,0 0,0"
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       inkscape:connector-curvature="0"
       id="rtr-core2_rtr-serv01-01_out"
       d="M 298.82723,112.25218 C 449.65828,73.201586 449.65828,73.201586 449.65828,73.201586 l 0,0 0,0 0,0"
       style="opacity:1;fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)" />
    <path
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="M 434.64445,119.75308 C 285.40662,74.997936 285.40662,74.997936 285.40662,74.997936 l 0,0 0,0 0,0"
       id="rtr-core1_rtr-serv03_out"
       inkscape:connector-curvature="0" />
    <path
       style="opacity:1;fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 449.39026,123.99638 c 149.23783,44.75515 149.23783,44.75515 149.23783,44.75515 l 0,0 0,0 0,0"
       id="rtr-core1_rtr-serv03_in"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="M 282.62365,199.80977 C 132.33204,158.73203 132.33204,158.73203 132.33204,158.73203 l 0,0 0,0 0,0"
       id="rtr-serv01-01_rtr-serv02_out"
       inkscape:connector-curvature="0" />
    <path
       style="opacity:1;fill:#000000;fill-opacity:0;stroke:#c2c2c2;stroke-width:10.34949112;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#TriangleInS)"
       d="m 297.4692,203.68977 c 150.29163,41.07774 150.29163,41.07774 150.29163,41.07774 l 0,0 0,0 0,0"
       id="rtr-serv01-01_rtr-serv02_in"
       inkscape:connector-curvature="0" />
  </g>
</svg>
