<div class="row row-fluid">
  <div class="row span12">
    <h1><%= @title %></h1>
  </div>

  <div id="canvas">

  <%= render :partial => "weathermaps/"+@params['map'] %>

  </div>
</div>

<%= coffee_script_tag do %>

# create new colourisor
colourisor = new ColourisorView( '#canvas', delay=90000, step=90000 )

grey = '#c2c2c2'
green = '#c4df9b'
orange = '#fdc68a'
red = '#f7977a'

tricolour = d3.scale.linear().domain( [0,0.30,0.60,1] ).range( [ green, orange, red, '8B0000' ] )
colour_scale = (num) -> 
	if isNaN(num) then grey else if num > 1 then return 'black' else tricolour(num)


LOOKUP = {}

# work out what the links are
$('svg').find('path').each (i,p) ->
  console.log "%o", p
  if 'id' of p
    a = p.id.replace(/__/g,'.',).split('_')
    if a.length == 3
        # determine the port to query by asking http://network.slac.stanford.edu/api/devices/neighbours.json?device=swh-li00-nw01
        url = '/api/devices/neighbours.json?device=' + a[0] + '&neighbour=' + a[1] + '&fqdn=true'
        # console.log url
        $.ajax 
            url:    url
            # async: false
        .done (msg) ->
            for m in msg
                mtr = 'port.util.pc.' + a[2] + '/' + m['device'] + '/' + m['physical_port'].replace(/\//g,'.')
                # console.log 'neighbour: ' + m
                c = 
                    target: '#' + p.id
                    scale:  colour_scale
                    metric: mtr
                    style: 'stroke'
                colourisor.add c
            
            LOOKUP[p.id] = 
                'device': m['device'],
                'physical_port': m['physical_port'].replace(/\//g,'.')
            
    else if p.id.substring(0, 5)  == 'port_' and a.length == 4
        # assume port_<router>_<port>_<direction>
        # substitute '__' with 'dot
        mtr = 'port.util.pc.' + a[3] + '/' + a[1].replace(/__/g,'.') + '/' + a[2].replace(/__/g,'.')
        console.log mtr
        c = 
            target: '#' + p.id
            scale:  colour_scale
            metric: mtr
            style: 'stroke'
        colourisor.add c
        
        LOOKUP[p.id] = 
            'device': a[1].replace(/__/g,'.'),
            'physical_port': a[2].replace(/__/g,'.')
        
    else
        console.log 'MISSED ' + p.id

get_device_and_port_from_id = (id) ->
    parts = id.replace(/__/g,'.').split('_')
    return [ parts[1], parts[2] ]

$('body').popover
    'selector': 'path'
    'container': 'body'
    'html': true
    'width': '300px'
    'title': () ->
        item = LOOKUP[this.id]
        # console.log "%s -> %o", this.id, item
        '<a href="' + '/graphs.horizon/port/'+item['device']+'/'+item['physical_port'] + '">' + item['device'] + '/' + item['physical_port'] + '</a>'
    'content': () ->
        this.id
        item = LOOKUP[this.id]
        # console.log "%s -> %o", this.id, item
        url = '/graphs.horizon/utilisation/'+item['device']+'/'+item['physical_port']+'?layout=naked'
        '<iframe src="'+url+'" frameBorder="0" width="300px" height="166px"></iframe>'
    'trigger': 'click'
    'placement': 'right'



<% end %>
