/*
 *= require d3s
 *= require jquery.splitter
 *= require_self
 */

table#user {
  margin-top: 6px;
  border-top: 6px;
}

table#user td {
  font-size: 1.0em;
  color: white;
}

table#user a {
  
  color: white;
  text-decoration: none;
}

