<div class="row row-fluid">
  <div class="row span12">
    <h1>Ping Status of <span id="device"><%= @device %></span><h1>
  </div>
  <div id="summary" class="row span12"></div>
  <div id="cubism" class="row span12"></div>
</div>


<%= coffee_script_tag do %>

device = $('span#device').text()

# create color scale based on value
tricolour = d3.scale.threshold().domain( [0,10,100] ).range( [ '#c2c2c2', '#c4df9b', '#fdc68a', '#f7977a' ] )
colour_scale = (num) -> 
  if isNaN(num) then '#c2c2c2' else tricolour(num)

tile = new TileView( '#summary', delay=30000, step=30000 )
tile.add
    width: 120
    height: 120
    metric: 'ptolemy.edu.stanford.slac.<%= @device =>.reachability.ping.Ping.loss'
    scale: colour_scale 
    url: '/performance/device/' + device

<% end %>
  
