<div class="row row-fluid">
  <div class="row span12">
    <div class="pull-left">
      <h1>Network Devices Ping Status</h1>
    </div>
  </div>

  <div id='cubism' class="row span12"></div>
</div>


<%= coffee_script_tag do %>

metrics = []

$.getJSON( '/devices.json', (json) ->

  seen = {}
  for d in json
    n = d.device
    unless n of seen
      if n and not ( /^ap/i.test(n) or /ssrl/i.test(n) )
        seen[n] = true

  for n in _.keys(seen).sort()
    console.log n
    m = 
      metric: 'loss/'+n
      alias: n
      height: 25
      url: '/performance/device/'+n
      colours: ["#000000","#000000","#ed9743","#ed4035"]
    metrics.push m
      
)

.success( () ->

  view = new HorizonView( '#cubism', delay=60000, step=60000 )
  view.add metrics
  
  window.view = view
  
)
  
<% end %>
  