<div class="row span12">
  <h1>LAN Subnet Statistics<h1>
</div>

<div id="cubism" class="row span12">
</div>


<%= coffee_script_tag do %>

prefix_len = 
  '255.255.252.0': 22,
  '255.255.254.0': 23,
  '255.255.255.0': 24,
  '255.255.255.128': 25,
  '255.255.255.192': 26

# create view
view = new CubismView( '#cubism', delay=300000, step=300000, extent=[-1,1] )

# add stats
$.get( <%= subnets_path %>, (d) ->
  for i in d
    if /ERP/i.test(i.name)
      view.add "subnet.jitter/" + i.prefix + "/" + prefix_len[i.netmask], i.name
)
  
<% end %>
  